<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/authenticated.css}" href="../../css/authenticated.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../../css/common.css"/>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" href="../../css/sidebar.css"/>
    <link rel="stylesheet" th:href="@{/css/forms.css}" href="../../css/forms.css"/>
    <link rel="stylesheet" th:href="@{/css/buttons.css}" href="../../css/buttons.css"/>
    <link rel="stylesheet" th:href="@{/css/alerts.css}" href="../../css/alerts.css"/>
</head>
<body>

<body class="home">

<script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bulk-entities-processing.js}" type="text/javascript"></script>

<div class="container-fluid">
    <div id="wrapper" class="row">

        <div id="home-navbar-wrapper" class="col-3" th:insert="fragments/sidebar.html :: sidebar"></div>

        <div id="home-content-wrapper" class="col-9">

            <p class="alert alert-success mt-3" th:if="${!#strings.isEmpty(successfulRegMsg)}"
               th:text="${successfulRegMsg}">

            <div class="row col-lg-10 mt-5 mx-auto">
                <div class="col-sm-6 tasks-generator-card"
                     th:insert="fragments/tasks/tasks-generator.html :: tasks-generator"></div>
                <div class="col-sm-6 notes-generator-card"
                     th:insert="fragments/notes/notes-generator.html :: notes-generator"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
